.commentsContainer {
  min-width: 340px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.clientInfo {
  display: flex;
  align-items: center;
}

.reviewsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
